.transformed-rectangle {
    text-align: center;
    line-height: 90px;
    font-size: 30px;
    color: white;
    width: 500px;
    height: 100px;
    background-color: green;
    transition: 1s;
    transform-origin: 1331px 390px;

}
.transformed-rectangle:hover{
    width: 100px;
    height: 600px;


}