.go-button-container {
    display: flex;
    justify-content: center;

}
.car-container{
    position: relative;
}

#go-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 100px;
    height: 100px;
    width: 100px;



}

#go-button:hover {
    background-color: rgb(85, 128, 85);
}

@keyframes move-forward {
    0% {
        left: 0px;
    }

    100% {
        left: 60%;
    }
}